/* screen - a-c-klima-servis */

.a-c-klima-servis {
  background-color: var(--white);
  height: 2700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.a-c-klima-servis .adresa-Itni5H {
  background-color: transparent;
  bottom: calc(24.76% - 26px);
  height: 105px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.a-c-klima-servis .adresa-sjeditah-rvatska-croatia-0DtrTW {
  background-color: transparent;
  height: 83px;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 24px;
  width: calc(100.00% - 46px);
}
.a-c-klima-servis .broj-Itni5H {
  background-color: transparent;
  height: 132px;
  left: 0px;
  position: absolute;
  top: calc(47.79% - 63px);
  width: calc(100.00% - 46px);
}
.a-c-klima-servis .broj-icon-Rb0WJU {
  background-color: transparent;
  height: 48px;
  left: 0px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 48px;
}
.a-c-klima-servis .broj-icon-Rb0WJU:hover {

transform: translate(-5px, 0);
}
.a-c-klima-servis .broj-telefonaph-833097-3173-025-Rb0WJU {
  background-color: transparent;
  height: 110px;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 24px;
  width: calc(100.00% - 46px);
}
.a-c-klima-servis .cijena-usluge-j-edbi-montiranja-8efUaa {
  background-color: transparent;
  bottom: 79px;
  height: 137px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  width: 502px;
}
.a-c-klima-servis .desno-N5JrTt {
  background-color: transparent;
  height: 630px;
  position: absolute;
  right: 89px;
  top: 0px;
  width: 403px;
}
.a-c-klima-servis .e-mailacklimaservisgmailcom-XykA31 {
  background-color: transparent;
  height: 83px;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 24px;
  width: calc(100.00% - 46px);
}
.a-c-klima-servis .email-Itni5H {
  background-color: transparent;
  bottom: 0px;
  height: 105px;
  left: 0px;
  position: absolute;
  width: 274px;
}
.a-c-klima-servis .email-icon-XykA31 {
  background-color: transparent;
  height: 48px;
  left: 0px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 48px;
}
.a-c-klima-servis .email-icon-XykA31:hover {

transform: translate(-5px, 0);
}
.a-c-klima-servis .facebook-mmMwQ3 {
  background-color: transparent;
  cursor: pointer;
  height: 274px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: 12px;
  top: -1px;
  transition: all 0.2s ease;
  width: 274px;
}
.a-c-klima-servis .facebook-mmMwQ3:hover {

filter: grayscale(100%);
}
.a-c-klima-servis .galerija-iJ20jy {
  background-color: transparent;
  height: 699px;
  left: 120px;
  position: absolute;
  top: 284px;
  width: 1682px;
}
.a-c-klima-servis .google-maps-iJ20jy {
  background-color: var(--white);
  border: 1px solid var(--dove-gray);
  height: 540px;
  left: 0px;
  position: absolute;
  top: 1139px;
  width: 1920px;
}
.a-c-klima-servis .hamburger-icon-USPvYO {
  background-color: transparent;
  height: 55px;
  pointer-events: auto;
  position: absolute;
  right: 49px;
  top: 71px;
  transition: all 0.2s ease;
  width: 70px;
}
.a-c-klima-servis .hamburger-icon-USPvYO:hover {

transform: translate(0, -5px);box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.a-c-klima-servis .header-box-7j4YKV {
  background-color: var(--white);
  border: 1px solid var(--dove-gray);
  box-shadow: 0px 8px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.a-c-klima-servis .header-iJ20jy {
  background-color: transparent;
  cursor: pointer;
  height: 200px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.a-c-klima-servis .ienje-8efUaa {
  background-color: transparent;
  border-radius: 8px;
  height: 352px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: -12px;
  top: -1px;
  transition: all 0.2s ease;
  width: 519px;
}
.a-c-klima-servis .ienje-8efUaa:hover {

transform: scale(1.1);
}
.a-c-klima-servis .ienje-klima-vri-ienja-je-250kn-8efUaa {
  background-color: transparent;
  bottom: calc(18.00% - 20px);
  height: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: -2px;
  text-align: left;
  width: 497px;
}
.a-c-klima-servis .ienje-qL8wtX {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 153px;
}
.a-c-klima-servis .info-iJ20jy {
  background-color: transparent;
  cursor: pointer;
  height: 830px;
  left: 148px;
  position: absolute;
  top: 1845px;
  width: 1424px;
}
.a-c-klima-servis .informacije-m5BxhR {
  background-color: transparent;
  height: 48px;
  left: 0px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 48px;
}
.a-c-klima-servis .informacije-m5BxhR:hover {

transform: translate(-5px, 0);
}
.a-c-klima-servis .informacije-mmMwQ3 {
  background-color: transparent;
  bottom: 0px;
  height: 105px;
  left: 0px;
  position: absolute;
  width: 291px;
}
.a-c-klima-servis .kontak-0y0Uxb {
  background-color: transparent;
  bottom: calc(24.39% - 14px);
  color: var(--dove-gray);
  cursor: pointer;
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 58px;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: 42px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 130px;
}
.a-c-klima-servis .kontak-0y0Uxb:hover {

transform: translate(0, -5px);
}
.a-c-klima-servis .lijevo-N5JrTt {
  background-color: transparent;
  height: 644px;
  left: 0px;
  position: absolute;
  top: 59px;
  width: 766px;
}
.a-c-klima-servis .logo-7j4YKV {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 2px);
  left: 50px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 198px;
}
.a-c-klima-servis .logo-7j4YKV:hover {

transform: scale(0.9); 
}
.a-c-klima-servis .lokacija-icon-0DtrTW {
  background-color: transparent;
  height: 48px;
  left: 0px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 48px;
}
.a-c-klima-servis .lokacija-icon-0DtrTW:hover {

transform: translate(-5px, 0);
}
.a-c-klima-servis .menu-bar-iJ20jy {
  background-color: transparent;
  height: 550px;
  left: 1576px;
  position: absolute;
  top: 1px;
  width: 343px;
}
.a-c-klima-servis .montaa-8efUaa {
  background-color: transparent;
  border-radius: 8px;
  height: 352px;
  left: -6px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -1px;
  transition: all 0.2s ease-in-out;
  width: 518px;
}
.a-c-klima-servis .montaa-8efUaa:hover {

transform: scale(1.1);
}
.a-c-klima-servis .montaa-qL8wtX {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 164px;
}
.a-c-klima-servis .o-nama-0y0Uxb {
  background-color: transparent;
  color: var(--dove-gray);
  cursor: pointer;
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 58px;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: 42px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: calc(43.90% - 25px);
  transition: all 0.2s ease;
  width: 149px;
}
.a-c-klima-servis .o-nama-0y0Uxb:hover {

transform: translate(0, -5px);
}
.a-c-klima-servis .open-menu-USPvYO {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}
.a-c-klima-servis .open-menu-USPvYO:hover {

transform: translate(0, -5px);
}
.a-c-klima-servis .opis-slike-8efUaa {
  background-color: transparent;
  bottom: calc(40.28% - 23px);
  height: 56px;
  left: 169px;
  position: absolute;
  width: calc(100.00% - 344px);
}
.a-c-klima-servis .ovisno-o-vrsti-na-iznosi-400kn-8efUaa {
  background-color: transparent;
  bottom: -2px;
  height: 218px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.15% - 247px);
  text-align: left;
  width: 502px;
}
.a-c-klima-servis .podnoenje-prigo-lanje-prigovora-m5BxhR {
  background-color: transparent;
  bottom: -12px;
  height: 83px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: -2px;
  text-align: left;
  white-space: nowrap;
  width: 245px;
}
.a-c-klima-servis .politika-upravl-data-processing-LjbeSy {
  background-color: transparent;
  height: 110px;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 24px;
  width: calc(100.00% - 46px);
}
.a-c-klima-servis .popravak-8efUaa {
  background-color: transparent;
  border-radius: 8px;
  height: 352px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: calc(49.78% - 258px);
  top: -1px;
  transition: all 0.2s ease;
  width: 519px;
}
.a-c-klima-servis .popravak-8efUaa:hover {

transform: scale(1.1);
}
.a-c-klima-servis .popravak-qL8wtX {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  right: calc(49.74% - 86px);
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 172px;
}
.a-c-klima-servis .pravno-icon-LjbeSy {
  background-color: transparent;
  height: 48px;
  left: 0px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 48px;
}
.a-c-klima-servis .pravno-icon-LjbeSy:hover {

transform: translate(-5px, 0);
}
.a-c-klima-servis .pravno-mmMwQ3 {
  background-color: transparent;
  bottom: calc(25.39% - 34px);
  height: 132px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.a-c-klima-servis .radno-vrijeme-Itni5H {
  background-color: transparent;
  height: 213px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 48px);
}
.a-c-klima-servis .radno-vrijemeho-0h-nedzatvoreno-YhhUIQ {
  background-color: transparent;
  height: 191px;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(109.09% - 208px);
  width: calc(100.00% - 46px);
}
.a-c-klima-servis .rectangle-2-tPhxUe {
  background-color: #f70505;
  border-radius: 20px;
  height: 8px;
  left: 1px;
  position: absolute;
  top: 24px;
  transform: rotate(-45.00deg);
  width: 100%;
}
.a-c-klima-servis .rectangle-3-tPhxUe {
  background-color: transparent;
  border-radius: 20px;
  bottom: calc(49.10% - 4px);
  height: 8px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.a-c-klima-servis .rectangle-4-tPhxUe {
  background-color: #f70505;
  border-radius: 20px;
  bottom: 24px;
  height: 8px;
  left: 1px;
  position: absolute;
  transform: rotate(45.00deg);
  width: 100%;
}
.a-c-klima-servis .rectangle-5-0y0Uxb {
  background-color: var(--white);
  border-radius: 8px;
  height: 100%;
  left: 0px;
  opacity: 0.95;
  position: absolute;
  top: 0px;
  width: 100%;
}
.a-c-klima-servis .title-7j4YKV {
  background-color: transparent;
  bottom: calc(49.02% - 48px);
  color: var(--java);
  cursor: pointer;
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: 98px;
  letter-spacing: 0.00px;
  line-height: 72px;
  pointer-events: auto;
  position: absolute;
  right: calc(42.94% - 402px);
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 935px;
}
.a-c-klima-servis .title-7j4YKV:hover {

color: #F70505
}
.a-c-klima-servis .vrijeme-icon-YhhUIQ {
  background-color: transparent;
  height: 48px;
  left: 0px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 48px;
}
.a-c-klima-servis .vrijeme-icon-YhhUIQ:hover {

transform: translate(-5px, 0);
}
.a-c-klima-servis .x2021-ac-klima-s-rights-reserved-N5JrTt {
  background-color: transparent;
  bottom: -2px;
  height: 32px;
  left: 145px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 143px);
}
