/* screen - coil-disinfectant */

.coil-disinfectant {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coil-disinfectant .header-mdO4Ff {
  background-color: transparent;
  cursor: pointer;
  height: 200px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coil-disinfectant .header-box-eGb8EV {
  background-color: var(--white);
  box-shadow: 0px 8px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.coil-disinfectant .coil-disinfectant-eGb8EV {
  background-color: transparent;
  bottom: calc(49.02% - 48px);
  color: var(--java);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  height: 98px;
  letter-spacing: 0.00px;
  line-height: 72px;
  pointer-events: auto;
  position: absolute;
  right: calc(49.92% - 308px);
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 616px;
}

.coil-disinfectant .coil-disinfectant-eGb8EV:hover {
  color: #F70505
}

.coil-disinfectant .logo-eGb8EV {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 2px);
  left: 50px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 198px;
}

.coil-disinfectant .logo-eGb8EV:hover {
  transform: scale(0.9); 
}

.coil-disinfectant .x2021-ac-klima-s-rights-reserved-mdO4Ff {
  background-color: transparent;
  height: 32px;
  left: 322px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1040px;
  width: 1279px;
}

.coil-disinfectant .vaa-unutarnja-j-mae-u-otklanjan-mdO4Ff {
  background-color: transparent;
  height: auto;
  left: 531px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 311px;
  width: 861px;
}

.coil-disinfectant .span0-tY4Tsc {
}

.coil-disinfectant .span1-tY4Tsc {
  color: var(--dove-gray);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.coil-disinfectant .span2-tY4Tsc {
}
