/* screen - iphone-6-7-8-se-3 */

.iphone-6-7-8-se-3 {
  background-color: var(--white);
  height: 667px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.iphone-6-7-8-se-3 .header-Zq65Be {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 390px;
}

.iphone-6-7-8-se-3 .header-box-gesyZy {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 18px);
}

.iphone-6-7-8-se-3 .logo-gesyZy {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 2px);
  left: 1px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 48px;
}

.iphone-6-7-8-se-3 .logo-gesyZy:hover {
  transform: scale(0.9); 
}

.iphone-6-7-8-se-3 .ienje-gesyZy {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 11px);
  left: calc(47.87% - 52px);
  letter-spacing: 0.00px;
  line-height: 28px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 7px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 108px;
}

.iphone-6-7-8-se-3 .ienje-gesyZy:hover {
  color: #F70505
}

.iphone-6-7-8-se-3 .ienje-i-dezinfe-enim-sredstvima-Zq65Be {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 90px;
  width: 328px;
}

.iphone-6-7-8-se-3 .span0-Yx5ZYx {
}

.iphone-6-7-8-se-3 .span1-Yx5ZYx {
  color: var(--java);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.iphone-6-7-8-se-3 .span2-Yx5ZYx {
}

.iphone-6-7-8-se-3 .x2021-ac-klima-s-rights-reserved-Zq65Be {
  background-color: transparent;
  height: 152px;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 517px;
  width: 284px;
}
