/* screen - iphone-6-7-8-se-2 */

.iphone-6-7-8-se-2 {
  background-color: var(--white);
  height: 1662px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.iphone-6-7-8-se-2 .header-VmLgr9 {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}

.iphone-6-7-8-se-2 .header-box-NOJmAx {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 18px);
}

.iphone-6-7-8-se-2 .logo-NOJmAx {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 2px);
  left: 1px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 48px;
}

.iphone-6-7-8-se-2 .logo-NOJmAx:hover {
  transform: scale(0.9); 
}

.iphone-6-7-8-se-2 .coil-disinfectant-NOJmAx {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 11px);
  letter-spacing: 0.00px;
  line-height: 28px;
  pointer-events: auto;
  position: absolute;
  right: calc(49.25% - 119px);
  text-align: left;
  top: 7px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 241px;
}

.iphone-6-7-8-se-2 .coil-disinfectant-NOJmAx:hover {
  color: #F70505
}

.iphone-6-7-8-se-2 .vaa-unutarnja-j-omae-u-otklanja-VmLgr9 {
  background-color: transparent;
  height: 1325px;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 90px;
  width: 302px;
}

.iphone-6-7-8-se-2 .x2021-ac-klima-s-rights-reserved-VmLgr9 {
  background-color: transparent;
  height: 152px;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1512px;
  width: 284px;
}
