:root {
  --dove-gray: #707070;
  --java: #30bac1;
  --white: #ffffff;

  --font-size-l: 42px;
  --font-size-m: 20px;
  --font-size-xl: 72px;

  --font-family-segoeui-bold: "SegoeUI-Bold", Helvetica;
  --font-family-segoeui-regular: "SegoeUI-Regular", Helvetica;
}
.segoeui-regular-normal-dove-gray-20px {
  color: var(--dove-gray);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.segoeui-regular-normal-java-42px {
  color: var(--java);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
