:root { 
  --dove-gray: #707070;
  --java: #30bac1;
  --white: #ffffff;

 
  --font-size-l: 28px;
  --font-size-m: 20px;
  --font-size-xl: 42px;
  --font-size-xxl: 72px;

 
  --font-family-segoe_ui: "Segoe UI", Helvetica;
  --font-family-segoeui-bold: "SegoeUI-Bold", Helvetica;
  --font-family-segoeui-regular: "SegoeUI-Regular", Helvetica;

}
.segoeui-regular-normal-dove-gray-20px {
  color: var(--dove-gray);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.segoeui-bold-java-28px {
  color: var(--java);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.segoeui-regular-normal-java-42px {
  color: var(--java);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.segoeui-normal-dove-gray-20px {
  color: var(--dove-gray);
  font-family: var(--font-family-segoe_ui);
  font-size: var(--font-size-m);
}

.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
