/* screen - web-1920-1 */

.web-1920-1 {
  background-color: var(--white);
  height: 2700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.web-1920-1 .ac-klima-servis-oncept-of-low-p-HlzXCz {
  background-color: transparent;
  height: 164px;
  left: 127px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2266px;
  width: 803px;
}
.web-1920-1 .ac-klima-servis-podluan-HlzXCz {
  background-color: transparent;
  color: var(--java);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 547px;
  letter-spacing: 0.00px;
  line-height: 72px;
  position: absolute;
  text-align: left;
  top: 52px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .adresa-sjeditah-rvatska-croatia-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1076px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1953px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .e-mailinfogyms4youcom-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1076px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2086px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .email-icon-HlzXCz {
  background-color: transparent;
  height: 48px;
  left: 1028px;
  object-fit: cover;
  position: absolute;
  top: 2048px;
  width: 48px;
}
.web-1920-1 .facebook-icon-HlzXCz {
  background-color: transparent;
  cursor: pointer;
  height: 274px;
  left: 667px;
  object-fit: cover;
  position: absolute;
  top: 1914px;
  width: 274px;
}
.web-1920-1 .galerija-HlzXCz {
  background-color: transparent;
  height: 440px;
  left: 120px;
  position: absolute;
  top: 284px;
  width: 1680px;
}
.web-1920-1 .group-1-MURznf {
  background-color: transparent;
  bottom: 0px;
  height: 56px;
  left: 169px;
  position: absolute;
  width: calc(100.00% - 344px);
}
.web-1920-1 .hamburger-icon-HlzXCz {
  background-color: transparent;
  height: 54px;
  left: 1800px;
  position: absolute;
  top: 73px;
  width: 70px;
}
.web-1920-1 .icon-HlzXCz {
  background-color: transparent;
  height: 198px;
  left: 50px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 198px;
}
.web-1920-1 .ienje-MURznf {
  background-color: transparent;
  border-radius: 8px;
  height: 352px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: -12px;
  top: -1px;
  transition: all 0.2s ease;
  width: 519px;
}
.web-1920-1 .ienje-MURznf:hover {

filter: grayscale(100%);
}
.web-1920-1 .ienje-cX8w8W {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 153px;
}
.web-1920-1 .ienje-klima-vri-ienja-je-250kn-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1305px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 767px;
  width: 497px;
}
.web-1920-1 .informacije-HlzXCz {
  background-color: transparent;
  height: 48px;
  left: 1028px;
  object-fit: cover;
  position: absolute;
  top: 2395px;
  width: 48px;
}
.web-1920-1 .location-icon-HlzXCz {
  background-color: transparent;
  height: 48px;
  left: 1028px;
  object-fit: cover;
  position: absolute;
  top: 1915px;
  width: 48px;
}
.web-1920-1 .lock-icon-HlzXCz {
  background-color: transparent;
  height: 48px;
  left: 1028px;
  object-fit: cover;
  position: absolute;
  top: 2205px;
  width: 48px;
}
.web-1920-1 .montaa-MURznf {
  background-color: transparent;
  border-radius: 8px;
  height: 352px;
  left: -6px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -1px;
  transition: all 1s ease;
  width: 518px;
}
.web-1920-1 .montaa-MURznf:hover {

opacity: 1;
}
.web-1920-1 .montaa-cX8w8W {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 164px;
}
.web-1920-1 .ovisno-o-vrsti-na-iznosi-100kn-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 719px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 767px;
  width: 502px;
}
.web-1920-1 .podnoenje-prigo-lanje-prigovora-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1076px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2430px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .politika-upravl-data-processing-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1076px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2226px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .popravak-cX8w8W {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  right: calc(49.66% - 85px);
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 172px;
}
.web-1920-1 .rectangle-1-HlzXCz {
  background-color: var(--white);
  border: 1px solid var(--dove-gray);
  box-shadow: 0px 8px 6px #00000029;
  height: 200px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.web-1920-1 .rectangle-2-wdqZZK {
  background-color: var(--red);
  border-radius: 20px;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-3-wdqZZK {
  background-color: var(--red);
  border-radius: 20px;
  height: 8px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 4px);
  width: 100%;
}
.web-1920-1 .rectangle-4-wdqZZK {
  background-color: var(--red);
  border-radius: 20px;
  bottom: 0px;
  height: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.web-1920-1 .rectangle-5-HlzXCz {
  background-color: var(--white);
  border: 1px solid var(--dove-gray);
  height: 540px;
  left: 0px;
  position: absolute;
  top: 1078px;
  width: 1920px;
}
.web-1920-1 .servis-MURznf {
  background-color: transparent;
  border-radius: 8px;
  height: 352px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: calc(49.78% - 258px);
  top: -1px;
  transition: all 1s ease;
  width: 519px;
}
.web-1920-1 .servis-MURznf:hover {

transform: translate(0, -5px);box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.web-1920-1 .usluga-montae-k-a-mjesto-montae-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 767px;
  width: 502px;
}
.web-1920-1 .x2021-ac-klima-s-rights-reserved-HlzXCz {
  background-color: transparent;
  height: 33px;
  left: 292px;
  letter-spacing: 0.00px;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 2628px;
  width: 1275px;
}
