/* screen - coil-disinfectanttm */

.coil-disinfectanttm {
  background-color: #ffffff;
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.coil-disinfectanttm .coil-disinfectant-GFk93Q {
  background-color: transparent;
  bottom: calc(49.02% - 48px);
  color: #30bac1;
  cursor: pointer;
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: 98px;
  letter-spacing: 0.00px;
  line-height: 72px;
  pointer-events: auto;
  position: absolute;
  right: calc(49.92% - 308px);
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 616px;
}
.coil-disinfectanttm .coil-disinfectant-GFk93Q:hover {

color: #F70505
}
.coil-disinfectanttm .hamburger-icon-6TSm6b {
  background-color: transparent;
  height: 54px;
  pointer-events: auto;
  position: absolute;
  right: 49px;
  top: 72px;
  transition: all 0.2s ease;
  width: 70px;
}
.coil-disinfectanttm .hamburger-icon-6TSm6b:hover {

transform: translate(0, -5px);box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.coil-disinfectanttm .header-3khKB8 {
  background-color: transparent;
  cursor: pointer;
  height: 200px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.coil-disinfectanttm .header-box-GFk93Q {
  background-color: #ffffff;
  border: 1px solid var(--dove-gray);
  box-shadow: 0px 8px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.coil-disinfectanttm .logo-GFk93Q {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 2px);
  left: 50px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 198px;
}
.coil-disinfectanttm .logo-GFk93Q:hover {

transform: scale(0.9); 
}
.coil-disinfectanttm .menu-bar-3khKB8 {
  background-color: transparent;
  height: 550px;
  left: 1576px;
  position: absolute;
  top: 1px;
  width: 343px;
}
.coil-disinfectanttm .rectangle-2-lFTUkk {
  background-color: var(--red);
  border-radius: 20px;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.coil-disinfectanttm .rectangle-3-lFTUkk {
  background-color: var(--red);
  border-radius: 20px;
  height: 8px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 4px);
  width: 100%;
}
.coil-disinfectanttm .rectangle-4-lFTUkk {
  background-color: var(--red);
  border-radius: 20px;
  bottom: 0px;
  height: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.coil-disinfectanttm .span0-Vcx6w2 {

}
.coil-disinfectanttm .span1-Vcx6w2 {
  font-family: var(--font-family-segoeui-bold);
  font-style: normal;
  font-weight: 700;
}
.coil-disinfectanttm .span2-Vcx6w2 {

}
.coil-disinfectanttm .vaa-unutarnja-j-mae-u-otklanjan-3khKB8 {
  background-color: transparent;
  color: var(--dove-gray);
  font-family: var(--font-family-segoe_ui);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: auto;
  left: 531px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 311px;
  width: 861px;
}
.coil-disinfectanttm .x2021-ac-klima-s-rights-reserved-3khKB8 {
  background-color: transparent;
  height: 32px;
  left: 322px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1027px;
  width: 1279px;
}
